nav {
    border-bottom: 1px solid rgb(82, 82, 82);
    font-size: 1.5rem;
    color: #fff;
    ul {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            padding: 20px;
            cursor: pointer;
            
            &:hover {
                color: rgb(82, 82, 82);
            }
        }
    }
}