.newpost-container {
    text-align: center;
    form {
        display: flex;
        flex-direction: column;
        
        input {
            padding: 5px;
            margin-top: 10px;
            background-color: transparent;
            border: 1px solid rgb(82, 82, 82);;
            border-radius: 5px;
            color: #fff;

        }

        label {
            margin-top: 10px;
        }

        textarea {
            padding: 5px;
            background-color: transparent;
            border: 1px solid rgb(82, 82, 82);;
            border-radius: 5px;
            color: #fff;
        }

        input[type='submit'] {
            cursor: pointer;
            &:hover {
                background-color: #fff;
                color: #000;
            }
        }
    }
}