.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border: 1px solid #fff;
    width: 500px;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-bottom: 30px;

    h2 {
        font-size: 3.3rem;
        font-weight: 700;
    }

    p {
        padding-bottom: 10px;
    }

    .comments-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 15px;
        img {
            width: 30px;
            height: 30px;
        }
        span {
            margin-left: 10px;
        }
    }

    .post-button {
        padding: 10px;
        border-radius: 5px;
        background-color: transparent;
        color: #fff;
        border: 1px solid #fff;
        cursor: pointer;

        &:hover {
            background-color: #fff;
            color: #000;
        }
    }

    .edit-buttons-container {
        display: flex;
        padding-top: 30px;
        
        .post-admin-btn {
            background-color: transparent;
            background-position: center;
            background-size: cover;
            border: none;
            width: 32px;
            height: 30px;
            cursor: pointer;
            transition: transform .5s ease-in-out;

            &:hover {
                transform: rotate(360deg);
            }        
        }

        .visible-post-btn {
            background-image: url('../images/eye.svg');
            margin-left: 15px;
        }

        .delete-post-btn {
            background-image: url('../images/delete.svg');
            margin-left: 15px;
            height: 33px;
            width: 28px;
        }
    }
}

.post-container.hidden {
    opacity: 0.3;
}

.failure-container {
    h2 {
        font-size: 3rem;
        font-weight: 700;
        color: tomato;
    }
}